<ion-view view-title="Category">

<ion-content class="has-header">
   <div class="row">

      <div class="col ">
        <div class="card energized">
        <div class="item item-divider">
          <b>{{iqq.name}}</b>
        </div>

      </div>
    </div>
    </div>
<div class="row">
      <div class="col col-50">
        <div class="card special ">
        <div class="item item-divider">
         Acquisition Date / Vest Start
        </div>
        <div class="item item-text-wrap">
            <b>{{iqq.vest}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        Vest Complete
        </div>
        <div class="item item-text-wrap">
            <b>{{iqq.vest}}</b>
        </div>
      </div>
    </div></div>
    <div class="row">
        <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        Shares
        </div>
        <div class="item item-text-wrap">
            <b>{{'$'+iqq.share}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        Total Shares
        </div>
        <div class="item item-text-wrap">
            <b>{{'$'+iqq.share}}</b>
        </div>
      </div>
    </div>
    </div>
      <div class="row">
     <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        Security Strike Price
        </div>
        <div class="item item-text-wrap">
         <b>{{'$'+iqq.price}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
       Investment (0=time investment)
        </div>
        <div class="item item-text-wrap">
          <b>{{'$'+iqq.Invest}}</b>
        </div>
      </div>
    </div></div>
      <div class="row">
     <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        FMV
        </div>
        <div class="item item-text-wrap">
            <b>{{'$'+iqq.fmv}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
      Valuation
        </div>
        <div class="item item-text-wrap">
          <b>{{'$'+iqq.value}}</b>
        </div>
      </div>
    </div></div>
    <div class="row">
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
          %Up/(Down)
        </div>
        <div class="item item-text-wrap">
         <b>{{iqq.up+'%'}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
     Likely Sale/IPO Price
        </div>
        <div class="item item-text-wrap">
        <b>{{'$'+iqq.ipo}}</b>
        </div>
      </div>
    </div></div>
   <div class="row">
         <div class="col col-50">
        <div class="card special">
        <div class="item item-divider">
        Implied Valuation on Likely Sale
        </div>
        <div class="item item-text-wrap">
         <b>{{'$'+iqq.imp}}</b>
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
         Probability of Sale/IPO in next 12 months
        </div>
        <div class="item item-text-wrap">
         <b>{{'$'+iqq.saleipo}}</b>
        </div>
      </div>
    </div>
    </div>
       <div class="row">

      <div class="col ">
        <div class="card ">
        <div class="item item-divider">
         Valuation inc Probability
        </div>
        <div class="item item-text-wrap">
       <b>{{'$'+iqq.vali}}</b>
        </div>
      </div>
    </div>
    </div>


    </div>


  </div>
<div class="row"><div class="col"> </div></div>

</ion-content>
</ion-view>
